body {
font-family: 'Exo', sans-serif;
background-color: #2d5784;

}

/*--------------------------Navbar--------------------------*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
    color: white;
}


/*------------------------------Home------------------------*/

.home-container {
    background: 
    url("../images/dolphin.jpg") no-repeat center center fixed;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}



.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

/*----------------------------------Jumbotron------------------------*/

.jumbotron {
    background-color: transparent;
}


.jumbotron h2 {
    color: #c7d0d8;
}


.jumbotron h1 {
    color: #c7d0d8;
    font-weight: bold;
    margin-top: 270px;
}


/*---------------------------------Callout container-----------------*/

.callout-container {
    background: #bbc3cc;    
}

.callout-container h2 {
    color: rgb(97, 97, 100);
    font-family: "Exo",sans-serif;
}

/*-------------------------------About--------------*/

.container-wrapper {
    color: whitesmoke;
    width: 100%;
}

.container-wrapper--blue {
    color: whitesmoke;
}


.about {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 50px;
}

.about i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}


/*-----------------------------------------------services*/

.card {
    width: 18rem;
    height:800px;
    color: grey;
}

.card-body i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
}


/*--------------------------------------------------Contact form*/


.contact {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 75px;
}

.text-uppercase {
    color: whitesmoke;
}

.form-control {
    background-color: rgba(0,0,0,0.25)
}

.center-form {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 70%;
}


button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #28a745;
    border: #28a745;
}


.contact-container {
    margin-top: 20px;
    text-align: left;
    font-size: 20px;
    color: white;
    width: 100%;
    
 }


.background {
    background-color: #9f9fa1;
    opacity: 0.6;
}


/*--------------------------------Images---------------------------*/

.contact-container {
    background:
        url("../images/image4.jpg") no-repeat center center fixed; 

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
} 

.image-container {
    height: 300px;
    background:
        url("../images/image3.jpg") no-repeat center center fixed; 

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.quote-image-container {
    height: 300px;
    background:
        url("../images/image2.jpg") no-repeat center center; 

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*--------------------------------Media Queries----------------*/

@media(min-width: 992px) {
    .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 100%;
}

/*---------------------------------Bloc dividers-----------------*/

.block-divider {
    width: 75px;
    height: 3px;
    border: 0px;
    background-color: #28a745;/*#adcff3;*/
    margin-bottom: 4rem;
}


/*------------------------------Content containers------------------*/

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/*----------------------------------Page headers--------------*/

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h5 {
    margin-top: 0;

}